{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        .list_fii_segmento {
            padding: 0px;
            margin: 4px 4px;
            display: inline-block;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="row">
                        {% for canal in canais %}

                            <div class="col-xs-6 col-sm-4">
                                <div class="box box-default">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <a href="{% url 'view-channel' canal.pk %}">
                                            <img src="{{ canal.img_url }}"

                                                 class="thumbnail img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="box-footer">
                                        <p class="text-center">
                                            <a href="{% url 'view-channel' canal.pk %}">
                                                {{ canal.title|truncatechars:50 }}
                                            </a>
                                        </p>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>


                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
        });
    </script>

{% endblock %}
