{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        .list_fii_segmento {
            padding: 0px;
            margin: 4px 4px;
            display: inline-block;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ fundos|length }}</h3>

                            <p>Fundos em Acompanhamento</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-arrow-graph-up-right"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ users|length }}</h3>

                            <p>Usuários Registrados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{ bd }}<sup style="font-size: 20px">%</sup></h3>

                            <p>BD used</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">FIIs por Segmentos</h3>
                </div>
                <div class="box-body">
                    {% regroup fundos|dictsort:"segmento" by segmento as fundos_list %}
                    {% for segmento in fundos_list %}
                        <div class="box-header with-border" style="padding:5px;">
                            <h4 class="box-title">{{ segmento.grouper }}</h4>
                        </div>
                        {% for fundo in segmento.list %}
                            <h5 class="list_fii_segmento"><a href="{% url 'fundo-view' fundo.pk %}">{{ fundo.sigla }}</a></h5> |
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#index').addClass('active');
        })
    </script>

{% endblock %}