{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <link rel="stylesheet" href='{% static 'css/style-view-channel.css' %}'/>
    <script src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src='//cdn.jsdelivr.net/npm/@clappr/hlsjs-playback@latest/dist/hlsjs-playback.min.js'></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@clappr/stats-plugin@latest/dist/clappr-stats.min.js"
            type="text/javascript"></script>

    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'canaismax' %}"
               class="btn btn-default">Voltar</a>

        </div>
        <div class="col-xs-6">
             {% if user.is_superuser %}
            <a href="{% url 'collect-channel-canaismax' canal.pk %}"
               class="btn btn-warning pull-right">Update</a>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img src="{{ canal.img_url }}" class="img-thumbnail img-responsive" style="background-color: #0d3349"/>
        </div>
        <div class="col-xs-7">
            <h1 class=""><b>{{ canal.title }}</b></h1>
            <h2></h2>
        </div>
    </div>
    <br/>
    {% if program_1 %}
        <div class="row">
            <div class="col-xs-12">
                <section class="bottom-box">
                    <section class="nowProg">
                        <span class="nameprog">{{ program_1.titulo }}</span>
                        <span class="hourprog">{{ program_1.inicio|convert_time }}</span>
                        <img src="{{ program_1.imagemUrl }}"
                             data-toggle="tooltip" data-placement="bottom"
                             title="{{ program_1.sinopse }}"
                             alt="{{ program_1.titulo }}">
                    </section>
                    <section class="timeline" data-inicio="{{ program_1.inicio }}" data-fim="{{ program_1.fim }}">
                        <div class="progress" style="width: 0%;">
                            <div class="pointer-progress" style="left: 0%;"></div>
                        </div>
                    </section>
                    <section class="nextProg">
                        <span class="nameprog">{{ program_2.titulo }}</span>
                        <span class="hourprog">{{ program_2.inicio|convert_time }}</span>
                        <img src="{{ program_2.imagemUrl }}"
                             data-toggle="tooltip" data-placement="bottom"
                             title="{{ program_2.sinopse }}"
                             alt="{{ program_2.titulo }}">
                    </section>
                </section>
                <script>
                    $(document).ready(function () {
                        setInterval(function () {
                            var dtInicio = $(".timeline").attr('data-inicio');
                            var dtFim = $(".timeline").attr('data-fim');
                            var timeInMs = Math.round(Date.now() / 1000);
                            var porcent = ((timeInMs - dtInicio) * 100) / (dtFim - dtInicio)
                            $(".timeline").find(".progress").width(porcent.toFixed(4) + "%");
                            $(".timeline .pointer-progress").css('left', porcent.toFixed(4) + "%");
                        }, 1000);
                    });
                </script>
            </div>
        </div>
        <br/>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for link in canal.link_set.all %}
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a data-uri="{{ link.m3u8 }}"
                           data-m3u8="{% url 'playlist-m3u8-canaismax' %}?uri={{ link.m3u8 }}"
                           href="#{{ link.m3u8 }}"
                           class="btn btn-primary btn-large link">Link {% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' %} {{ link|get_text_type }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>

    <script>

        function getSecondsString(fileSizeInBytes) {
            return fileSizeInBytes.toFixed(1) + ' s';
        };

        function getReadableFileSizeString(fileSizeInBytes) {

            var i = -1;
            var byteUnits = [' kbps', ' Mbps', ' Gbps', ' Tbps', 'Pbps', 'Ebps', 'Zbps', 'Ybps'];
            do {
                fileSizeInBytes = fileSizeInBytes / 1024;
                i++;
            } while (fileSizeInBytes > 1024);

            return Math.max(fileSizeInBytes, 0.1).toFixed(1) + byteUnits[i];
        };

        var player = new Clappr.Player({
            parentId: "#Player",
            autoPlay: false,
            poster: "{{ canal.img_url }}",
            source: window.location.origin + "{% url 'playlist-m3u8-canaismax' %}?uri=" + "{{ canal.link_set.first.m3u8 }}",
            width: '640px',
            height: "360px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"},
            plugins: [HlsjsPlayback, LevelSelector, ClapprStats],
            clapprStats: {
                onReport: (metrics) => {
                    metrics.timers.startup = getSecondsString(metrics.timers.startup / 1000);
                    metrics.timers.watch = getSecondsString(metrics.timers.watch / 1000);
                    metrics.timers.pause = getSecondsString(metrics.timers.pause / 1000);
                    metrics.timers.buffering = getSecondsString(metrics.timers.buffering / 1000);
                    metrics.timers.session = getSecondsString(metrics.timers.session / 1000);
                    metrics.timers.latency = getSecondsString(metrics.timers.latency / 1000);
                    metrics.extra.bufferingPercentage = metrics.extra.bufferingPercentage.toFixed(2) + '%';
                    metrics.extra.watchedPercentage = metrics.extra.watchedPercentage.toFixed(2) + '%';
                    metrics.extra.buffersize = getSecondsString(metrics.extra.buffersize / 1000);
                    metrics.extra.duration = getSecondsString(metrics.extra.duration / 1000);
                    metrics.extra.currentTime = getSecondsString(metrics.extra.currentTime / 1000);
                    metrics.extra.bandwidth = getReadableFileSizeString(metrics.extra.bandwidth);
                    console.table(metrics.timers);
                    console.table(metrics.extra);
                },
                uriToMeasureLatency: '{% static 'img/1x1.png' %}',
                urisToMeasureBandwidth: [
                    {url: '{% static 'img/test100k.db' %}', timeout: 3000},
                    {url: '{% static 'img/test1Mb.db' %}', timeout: 6000}
                ],
                runBandwidthTestEvery: 10
            },
            playback: {
                hlsjsConfig: {}
            },
        });

        player.setVolume(100);
        player.play();

        $(document).ready(function () {
            $('a.link').click(function () {
                var uri = window.location.origin + $(this).data('m3u8');
                console.log(uri);
                player.configure({
                    source: uri, autoPlay: false
                });
            });
        });
    </script>


{% endblock %}
