{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js">s</script>


    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'index' %}"
               class="btn btn-default">Voltar</a>
        </div>
        <div class="col-xs-6">
            {% if not canal.category.site.name == 'topcanais' %}
                <a href="{% url 'collect-canal' canal.pk %}"
                   class="btn btn-warning pull-right">Update</a>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img src="{{ canal.img_url }}" class="img-thumbnail img-responsive" style="background-color: #0d3349"/>
        </div>
        <div class="col-xs-9">
            <h1 class=""><b>{{ canal.title }}</b></h1>
            <h2></h2>
        </div>
    </div>
    <br/>
    {% if program_1 %}
        <div class="row">
            <div class="col-xs-12">
                <style>
                    .bottom-box {
                        position: relative;
                        height: 79px;
                    }

                    .bottom-box .nowProg {
                        float: left;
                        width: 140px;
                        position: relative;
                        height: 79px;
                    }

                    .bottom-box .nowProg span.nameprog {
                        font-size: 14px;
                        width: 140px;
                        position: absolute;
                        left: 150px;
                        text-align: left;
                        top: 10px;
                        font-weight: 700;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .bottom-box .nowProg span.hourprog {
                        font-size: 14px;
                        width: 140px;
                        position: absolute;
                        left: 150px;
                        text-align: left;
                        bottom: 10px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .bottom-box .nowProg img {
                        display: block;
                        width: 100%;
                        border-radius: 10px;
                    }

                    .bottom-box .timeline {
                        position: absolute;
                        left: 150px;
                        right: 150px;
                        top: 50%;
                        transform: translate(0, -50%);
                        height: 6px;
                        background-color: #000;
                        border: 1px solid #333;
                        border-radius: 10px;
                    }

                    .bottom-box .timeline .progress {
                        background-color: #ffa032;
                        height: 6px;
                        border-radius: 10px;
                        transition: .2s all linear;
                    }

                    .bottom-box .timeline .pointer-progress {
                        background-color: #900;
                        border: #dd4b39 4px solid;
                        border-radius: 50px;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        transition: .2s all linear;
                        top: -4px;
                        transform: translate(-7px, 0)
                    }

                    .bottom-box .nextProg {
                        float: right;
                        width: 140px;
                        position: relative;
                        height: 79px
                    }

                    .bottom-box .nextProg span.nameprog {
                        font-size: 14px;
                        width: 140px;
                        position: absolute;
                        right: 150px;
                        text-align: right;
                        top: 10px;
                        font-weight: 700;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden
                    }

                    .bottom-box .nextProg span.hourprog {
                        font-size: 14px;
                        width: 140px;
                        position: absolute;
                        right: 150px;
                        text-align: right;
                        bottom: 10px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden
                    }

                    .bottom-box .nextProg img {
                        display: block;
                        width: 100%;
                        border-radius: 10px
                    }
                </style>
                <section class="bottom-box">
                    <section class="nowProg">
                        <span class="nameprog">{{ program_1.titulo }}</span>
                        <span class="hourprog">{{ program_1.inicio|convert_time }}</span>
                        <img src="{{ program_1.imagemUrl }}"
                             data-toggle="tooltip" data-placement="bottom"
                             title="{{ program_1.sinopse }}"
                             alt="{{ program_1.titulo }}">
                    </section>
                    <section class="timeline" data-inicio="{{ program_1.inicio }}" data-fim="{{ program_1.fim }}">
                        <div class="progress" style="width: 0%;">
                            <div class="pointer-progress" style="left: 0%;"></div>
                        </div>
                    </section>
                    <section class="nextProg">
                        <span class="nameprog">{{ program_2.titulo }}</span>
                        <span class="hourprog">{{ program_2.inicio|convert_time }}</span>
                        <img src="{{ program_2.imagemUrl }}"
                             data-toggle="tooltip" data-placement="bottom"
                             title="{{ program_2.sinopse }}"
                             alt="{{ program_2.titulo }}">
                    </section>
                </section>
                <script>
                    $(document).ready(function () {
                        setInterval(function () {
                            var dtInicio = $(".timeline").attr('data-inicio');
                            var dtFim = $(".timeline").attr('data-fim');
                            var timeInMs = Math.round(Date.now() / 1000);
                            var porcent = ((timeInMs - dtInicio) * 100) / (dtFim - dtInicio)
                            $(".timeline").find(".progress").width(porcent.toFixed(4) + "%");
                            $(".timeline .pointer-progress").css('left', porcent.toFixed(4) + "%");
                        }, 1000);


                    });
                </script>
            </div>
        </div>
        <br/>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for link in canal.link_set.all %}
                    <div class="col-xs-3 col-sm-2 col-md-1">
                        <a data-m3u8="{% url 'get-other-m3u' %}?uri={{ link.m3u8 }}" href="#{{ link.m3u8 }}"
                           class="btn btn-primary btn-large link">Link {% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' %}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>

    <script>
        var player = new Clappr.Player({
            parentId: "#Player",
            source: "http://localhost:8000/api/{{ canal.pk }}/playlist.m3u8",
            width: '100%',
            height: "340px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"},
            autoPlay: true
        });
        player.on(Clappr.Events.PLAYER_STOP, playerStop);

        function playerStop() {
            location.reload();
        }

        player.setVolume(100);
        player.play();

        $(document).ready(function () {
            $('a.link').click(function () {
                var uri = window.location.origin + $(this).data('m3u8');
                console.log(uri);
                player.configure({
                    source: uri,
                });
            });
        });
    </script>


{% endblock %}
