{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <script src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src='//cdn.jsdelivr.net/npm/@clappr/hlsjs-playback@latest/dist/hlsjs-playback.min.js'></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@clappr/stats-plugin@latest/dist/clappr-stats.min.js"
            type="text/javascript"></script>
    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'series' %}"
               class="btn btn-default">Voltar</a>
        </div>
        <div class="col-xs-6">
             {% if user.is_superuser %}
            <a href="{% url 'collect-serie' serie.pk %}"
               class="btn btn-warning pull-right">Update</a>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img src="{{ serie.img_url }}" class="img-thumbnail img-responsive"/>
        </div>
        <div class="col-xs-9">
            <h1 class=""><b>{{ serie.title }}</b></h1>
            <h3>{{ serie.duracao }}</h3>
            <h3>{{ serie.ano }}</h3>
            <h3>{{ serie.temporadas }} temporadas</h3>
            <h3>{{ serie.episodios }}</h3>
            <h3>{{ serie.sinopse }}</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for temporada in serie.temporada_set.all %}
                    <div class="col-xs-12">
                        <div class="box box-default collapsed-box">
                            <div class="box-header">
                                <div class="box-title">
                                    Temporada {{ temporada.num_seq }}
                                </div>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="box-body">
                                <table class="table table-striped">
                                    {% for episodio in temporada.episodio_set.all %}
                                        <tr>
                                            <td>{{ episodio.type }}</td>
                                            <td>{{ episodio.title }}</td>
                                            <td>
                                                {% for link in episodio.linkserie_set.all %}
                                                    <a href="#{{ link.m3u8 }}"
                                                       data-m3u8="{% url 'm3u8-series-canaismax' %}?uri={{ link.m3u8 }}"
                                                       data-uri="{{ link.m3u8 }}"
                                                       class="btn btn-primary link">
                                                        Link
                                                    </a>

                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function getSecondsString(fileSizeInBytes) {
            return fileSizeInBytes.toFixed(1) + ' s';
        };

        function getReadableFileSizeString(fileSizeInBytes) {

            var i = -1;
            var byteUnits = [' kbps', ' Mbps', ' Gbps', ' Tbps', 'Pbps', 'Ebps', 'Zbps', 'Ybps'];
            do {
                fileSizeInBytes = fileSizeInBytes / 1024;
                i++;
            } while (fileSizeInBytes > 1024);

            return Math.max(fileSizeInBytes, 0.1).toFixed(1) + byteUnits[i];
        };

        var player = new Clappr.Player({
            parentId: "#Player",
            autoPlay: false,
            poster: "{{ filme.img_url }}",
            width: '640px',
            height: "360px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"},
            plugins: [HlsjsPlayback, LevelSelector, ClapprStats],
            clapprStats: {
                onReport: (metrics) => {
                    metrics.timers.startup = getSecondsString(metrics.timers.startup / 1000);
                    metrics.timers.watch = getSecondsString(metrics.timers.watch / 1000);
                    metrics.timers.pause = getSecondsString(metrics.timers.pause / 1000);
                    metrics.timers.buffering = getSecondsString(metrics.timers.buffering / 1000);
                    metrics.timers.session = getSecondsString(metrics.timers.session / 1000);
                    metrics.timers.latency = getSecondsString(metrics.timers.latency / 1000);
                    metrics.extra.bufferingPercentage = metrics.extra.bufferingPercentage.toFixed(2) + '%';
                    metrics.extra.watchedPercentage = metrics.extra.watchedPercentage.toFixed(2) + '%';
                    metrics.extra.buffersize = getSecondsString(metrics.extra.buffersize / 1000);
                    metrics.extra.duration = getSecondsString(metrics.extra.duration / 1000);
                    metrics.extra.currentTime = getSecondsString(metrics.extra.currentTime / 1000);
                    metrics.extra.bandwidth = getReadableFileSizeString(metrics.extra.bandwidth);
                    console.table(metrics.timers);
                    console.table(metrics.extra);
                },
                uriToMeasureLatency: '{% static 'img/1x1.png' %}',
                urisToMeasureBandwidth: [
                    {url: '{% static 'img/test100k.db' %}', timeout: 3000},
                    {url: '{% static 'img/test1Mb.db' %}', timeout: 6000}
                ],
                runBandwidthTestEvery: 10
            },
            playback: {
                hlsjsConfig: {
                    liveSyncDurationCount: 7
                }
            },
        });

        player.setVolume(100);
        player.play();

        $(document).ready(function () {
            $('a.link').click(function () {
                var uri = window.location.origin + $(this).data('m3u8');
                console.log(uri);
                player.configure({
                    source: uri, autoPlay: false
                });
            });
        });
    </script>


{% endblock %}
