{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <link rel="stylesheet" href='{% static 'css/style-view-channel.css' %}'/>
    <script src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src='//cdn.jsdelivr.net/npm/@clappr/hlsjs-playback@latest/dist/hlsjs-playback.min.js'></script>

    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'multicanais' %}"
               class="btn btn-default">Voltar</a>
        </div>
        <div class="col-xs-6">
             {% if user.is_superuser %}
            <a href="{% url 'collect-channel-multicanais' canal.pk %}"
               class="btn btn-warning pull-right">Update</a>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img src="{{ canal.img_url }}" class="img-thumbnail img-responsive" style="background-color: #0d3349"/>
        </div>
        <div class="col-xs-7">
            <h1 class=""><b>{{ canal.title }}</b></h1>
            <h2></h2>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for link in canal.link_set.all %}
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a data-uri="{{ link.m3u8 }}"
                           data-m3u8="{% url 'playlist-m3u8-multicanais' %}?uri={{ link.m3u8 }}"
                           href="#{{ link.m3u8 }}"
                           class="btn btn-primary btn-large link">Link {% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' %} {{ link|get_text_type }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="Player">
            </div>
        </div>
    </div>

    <script>

        var player = new Clappr.Player({
            parentId: "#Player",
            autoPlay: true,
            poster: "{{ canal.img_url }}",
            source: window.location.origin + "{% url 'playlist-m3u8-multicanais' %}?uri=" + "{{ canal.link_set.first.m3u8 }}",
            width: '100%',
            height: "400px",
            mediacontrol: {seekbar: "#900", buttons: "#FFFFFF"},
            plugins: [HlsjsPlayback,],
            playback: {
                hlsjsConfig: {
                    liveSyncDurationCount: 7,
                    maxBufferHole: 3,
                }
            },
        });
        player.setVolume(100);
        player.play();

        $(document).ready(function () {
            $('a.link').click(function () {
                var uri = window.location.origin + $(this).data('m3u8');
                console.log(uri);
                player.configure({
                    source: uri, autoPlay: true
                });
            });
        });
    </script>


{% endblock %}
